@charset "utf-8";

.footer {
    position: relative;
    z-index: 1;
    padding: 4rem 0 0.2rem;

    @include sp {
        padding: 4.8rem 0 2rem;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX( -50%);
        background-color: #fff;
    }

    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include sp {
            display: block;
        }

        &-title {
            
            a {
                display: block;
                width: 10rem;

                @include sp {
                    width: 8rem;
                }
            }
        }

        &-company {

            @include sp {
                margin-top: 0.8rem;
            }

            &-list {
                font-size: 1.4rem;
                font-style: normal;
            }
        }
    }

    &-logo {
        margin-top: 4rem;
        font-size: 1.2rem;
        display: block;
    }
}